<div class="container banner" id="profile-card">
    <div id="contenedorPerfil" class="container">
      <div id="info">
              <img id="profile-image" src="https://i.pinimg.com/564x/ce/ef/90/ceef909244fbc599802dde0d08d19bd7.jpg" alt="Foto de Perfil">
              <button class="btn fa-solid fa-pen"></button>
          </div>
          <div class="info" id="info-data">
              <div>
                  <h2>Federico Di Cillo</h2>
                  <div id="info-contact">
                      <span>FullStack Developer Jr.</span>
                      
                  </div>
              </div>
           </div>
      </div>
  </div>
  