<app-nav-bar></app-nav-bar>
<app-profile-card></app-profile-card>
<app-about-me></app-about-me>

<div class="container">
<button class="btn btn-secondary">Agregar sección</button>
</div>

<app-proyects></app-proyects>
<app-education></app-education>
<app-experience></app-experience>

<div class="container-fluid">
<div class="container">
<div class="row">
    <div class="col-md-6"><app-skills></app-skills></div>
    <div class="col-md-6"><app-languages></app-languages></div>
</div>
</div>
</div>

<footer class="footer mt-auto py-3 ">
    <div class="container">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </footer>