<div class="cuerpo container px-1">
    <div class="row row-cols-2 row-cols-md-1 g-4">
   
      <div class="col">
         <div class="card h-100">
           <div class="card-body">
               <div class="row">
               <div class="col"><h5 class="card-title col">{{TituloSeccion}}</h5></div>
                 <div class="col"><button (click)="getGuardarCambios()" class="boto btn fa-solid fa-circle-check" [hidden]="editPropiety" ></button>
                 <button (click)="getHabilitarEdit()" class="boto btn fa-solid fa-pen" *ngIf="editPropiety"></button></div>
                 </div>
           <form class="form-group col" [hidden]="editPropiety">
 
             <div class="form-group col-md3">
               <label for="tituloPuesto">Agregar una Habilidad:</label>
               <input type="text" id="tituloPuesto" name="tituloPuesto" class="form-control" [(ngModel)]="cuadroSkill">
             </div>
             
             <div class="col">
               <button type="submit" class="btn btn-primary" (click)="agregarSkill()" style="float: right; margin-top: 20px;">Agregar</button>
             </div>
 
           </form>
         
 
     </div>
   
     <div class="container">
         
           <div *ngFor="let seccn of mySkills; let i=index">
            <button class="boto btn fa-solid fa-delete-left" (click)="eliminarSkill(i)" [hidden]="editPropiety"></button>
            <ul>
            <li class="titulo">{{seccn.skill}}</li>
            </ul>
           </div>
         
       </div>
 
   </div>
     </div>
   </div>
 </div>
   
 